In [21]:
import pandas as pd
timezones_df = pd.read_csv('time zones.csv')
business_hours_df = pd.read_csv('Menu hours.csv')
store_status_df = pd.read_csv('store status.csv')

In [7]:
timezones_df.head()

              store_id    timezone_str
0  8139926242460185114     Asia/Beirut
1  5415949628544298339   America/Boise
2  3408529570017053440  America/Denver
3  9055649751952768824  America/Denver
4  4428372089193592098  America/Denver

In [20]:
timezones_df.isna().sum()

store_id        0
timezone_str    0
dtype: int64

In [12]:
timezones_df.shape

(13559, 2)

In [13]:
timezones_df.nunique()

store_id        13559
timezone_str       11
dtype: int64

In [14]:
store_status_df.head()

              store_id  status                   timestamp_utc
0  8419537941919820732  active  2023-01-22 12:09:39.388884 UTC
1    54515546588432327  active  2023-01-24 09:06:42.605777 UTC
2  8377465688456570187  active  2023-01-24 09:07:26.441407 UTC
3  5955337179846162144  active  2023-01-24 09:08:07.634899 UTC
4  1169347689335808384  active  2023-01-24 09:08:18.436854 UTC

In [15]:
store_status_df.nunique()

store_id           14092
status                 2
timestamp_utc    1523567
dtype: int64

In [16]:
store_status_df.isna().sum()

store_id         0
status           0
timestamp_utc    0
dtype: int64

In [17]:
business_hours_df.head()

              store_id  day start_time_local end_time_local
0  1481966498820158979    4         00:00:00       00:10:00
1  1481966498820158979    2         00:00:00       00:10:00
2  1481966498820158979    0         00:00:00       00:10:00
3  1481966498820158979    1         00:00:00       00:10:00
4  1481966498820158979    5         00:00:00       00:10:00

In [18]:
business_hours_df.nunique()

store_id            11116
day                     7
start_time_local       70
end_time_local        154
dtype: int64

In [19]:
store_status_df.isna().sum()

store_id         0
status           0
timestamp_utc    0
dtype: int64